<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Sign Up</title>
</head>
<body>
    <div id="flashed_messages" class="text-center">
        <div id="js_messages" style="display: none;"></div>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
    <br><br>
    <div id="container">
        <div class="panel">
            <h1 align="center"><span id="heading">Influencer</span> Sign Up</h1>
            <br><br>
            <form method="POST">
                <label for="role" class="form-label">Select Role</label>
                <select id="role" name="role" class="form-control" onchange="handle_signup(this.value)">
                    <option value="influencer">Influencer</option>
                    <option value="sponsor">Sponsor</option>
                </select>
                <br>
                <div id="influencer">
                    <label for="full_name" class="form-label">Full Name</label>
                    <input type="text" id="full_name" name="full_name" value="{{ full_name }}" class="form-control">
                    <br>
                    <label for="niche" class="form-label">Niche</label>
                    <!-- <input type="text" id="niche" name="niche" value="{{ niche }}" class="form-control"> -->
                     <select id="niche" name="niche" class="form-control">
                        {% for option in options %}
                            <option value="{{ option.name }}">{{ option.name }}</option>
                        {% endfor %}
                     </select>
                </div>
                <div id="sponsor" style="display: none;">
                    <label for="company_name" class="form-label">Company Name</label>
                    <input type="text" id="company_name" name="company_name" value="{{ company_name }}" class="form-control">
                    <br>
                    <label for="industry" class="form-label">Industry</label>
                    <!-- <input type="text" id="industry" name="industry" value="{{ industry }}" class="form-control"> -->
                    <select id="industry" name="industry" class="form-control">
                        {% for option in options %}
                            <option value="{{ option.name }}">{{ option.name }}</option>
                        {% endfor %}
                     </select>
                </div>
                <br>
                <label for="email" class="form-label">E-Mail ID</label>
                <input type="email" id="email" name="email" value="{{ email }}" class="form-control" required>
                <br>
                <label for="username" class="form-label">Username</label>
                <input type="text" id="username" name="username" value="{{ username }}" class="form-control" required>
                <br>
                <label for="password" class="form-label">Password</label>
                <input type="password" id="password" name="password" class="form-control" minlength="8" required>
                <br>
                <label for="cpassword" class="form-label">Confirm Password</label>
                <input type="password" id="cpassword" name="cpassword" class="form-control">
                <br><br>
                <button type="submit" class="btn btn-dark" onclick="return validate()">Sign Up</button>
                <span style="margin-left: 44vh;">Already have an account? <a href="{{ url_for('auth.login') }}">Log In</a></span>
            </form>
        </div>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <script>
        let role = "{{ role }}" || "influencer";
        console.log(role);
        if (role == "sponsor") {
            document.getElementById("role").selectedIndex = 1;
        } else {
            document.getElementById("role").selectedIndex = 0;
        }
        handle_signup(role);
    </script>
</body>
</html>